  * {
    box-sizing: border-box;
}
body {
	max-width: 60em;
	 margin: 0 auto;
	 font-family: sans-serif;
}

footer p {
  text-align: center;
}

.gulur {
	background-color: yellow; order: 1; 
}
.raudur {
	background-color: red; order: 2;
}
.graenn {
	background-color: lime; order: 3;
}
.blar {
	background-color: cyan; order: 4;
}
.box {
	font-size: 1.2em;
	height: 5em;
}

.row {display: flex;  flex-flow: row;}

.col {display: flex;
flex-flow: column; text-align: center;}
