body, html {
    width: 90%;
    margin: 0 auto;
}


header {
    grid-area: header;

}
header h1{font-size: 3em; font-family: fantasy; text-align: center;color: brown}
header a{display: block; text-align: center;}
nav { grid-area:nav;  
 padding: 2em; }

aside {
    grid-area: sect1;

}


main {
    grid-area: main;
 padding:15px;
}
article {grid-area: sect2;}
footer {
    grid-area: footer;

}
ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}
li {padding: 1em}



blockquote{text-align: center; padding: 13px; border: 1px solid;}




 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width : 600px) {
  body {background-color: red;  }
  .wrapper {display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "sect1"
    "sect2"
    "footer";}

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {background: green;
}
.wrapper {display: grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "sect1 sect2"
    "footer footer";}
}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
 body {background: pink;}
 .wrapper {display: grid;
    grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "sect1 sect2"
    "footer footer";}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 body {background: orange;}
 .wrapper {display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 10% auto 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sect1 main sect2"
    "footer footer footer";}
} 
